<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groceries</key>
	<array>
		<string>Lettuce</string>
		<string>Milk</string>
	</array>
	<key>Toiletries</key>
	<array>
		<string>Toilet Paper</string>
		<string>Tooth Paste</string>
	<array/>
	<key>Clothes</key>
	<array>
		<string>Blue Jeans</string>
		<string>Yoga Pants</string>
	</array>
</dict>
</plist>
