<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jscon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC1AB2401C9866DF00DFCABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AB2541C9866E000DFCABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1AB25F1C9866E000DFCABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
